/* @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800'); */


.logo{
     /* font-family: 'Lato', 'Helvetica Neue', sans-serif; */
    margin-top:30px;
    font-size: 3.3rem;
    line-height: 1;
    position: relative;
font-weight: 200;
padding-left: 15.5rem;


}

row1 {
     width: 100%;
     max-width: 114rem;
     margin-right: auto;
     margin-left: auto;
     margin-top: 0;
     margin-bottom: 0;
}
.item{
     font-family:'Open Sans', 'Helvetica Neue', sans-serif; 
     font-size: small;
     /* font-size: 90.5%; */
     color:black;
    margin-right: 1.6rem;
}


.ul{
     font-size: 1.4rem;
     line-height: 1.8;
     text-emphasis: gray -500px;
}
.sec{
     background-color: #f4f4f4;
    border-color: #f4f4f4;
    margin-bottom: 50px;
    /* widows: 100px; */
    margin-top: 80px;

}
.text-3xl{
     font-weight: 300;
     color: black;
}
.cos{
      font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
     letter-spacing: 0;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.8;
    color: #666; 
}
.text-black-600{
     font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 7rem;
    line-height: 1.5;
  
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 3rem;
    margin-left: 0px;
}
.img{
    
      
 object-position: right top;
      border: 1px solid #ddd;
     border-radius: 4px;
     padding: 5px;
     width:600px;
    height: 600px;
    display: inline-block;
    vertical-align: middle;
    border: none;
    
    outline: none;
     
  

}
.off{
     /* background-color:
#f4f4f4;
border-color:
#f4f4f4; */
background-color: 
linear-gradient(to left, #f4f4f4 50%, #f4f4f4 50%);
/* width:100%;
padding-top: 7.7rem;
padding-bottom: 3.3rem;
background-size:cover;
background-position: center;
position: relative;
z-index: 1; */
}
.mb-30{
     margin-top: 0px;
     margin-right: 0px;
     margin-bottom: 2rem;
     margin-left: 0px;
     
     /* margin-bottom:3rem;
     font-size:2.3rem;
     color:#000 */
     
}
.lead2{
     font-size: 1.4rem;
     font-weight: 100;
    
     margin-bottom: 3rem;
     
}
.nav{
     align-items: flex-end;
     text-align: end;
     margin-right: 200px;
    margin-top: 20px;
}
.abc{
    

    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
   
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: medium;
  
     /* margin-top: 0;
     line-height: 1;
font-weight: 300;
margin: 0 0 2rem 0;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 2rem;
margin-left: 0px; */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

text-transform: normal;
     color: black;
     font-weight: 200;
     padding-left: 4.5rem;
     font-size: 6.5;
}
.lead1{
     font-size: 2rem;
     margin-bottom: 2rem;
     font-weight: 100;
     padding-left: 4.5rem;
     font-size:1.2rem
}
.lead
{
     font-size: 2rem;
font-weight: 200;
padding-left: 10.5rem;
font-size:1.5rem
}


 /* body {
  font-family: 'Lato', sans-serif;
} */
.overlay {
     height: 0%;
     width: 100%;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: rgb(0, 0, 0);
     background-color: rgba(0, 0, 0, 0.9);
     overflow-y: hidden;
     transition: 0.5s;
   }
   .overlay-content {
     position: relative;
     top: 25%;
     width: 100%;
     text-align: center;
     margin-top: 30px;
   }
   .overlay a {
     padding: 8px;
     text-decoration: none;
     font-size: 36px;
     color: #818181;
     display: block;
     transition: 0.3s;
   }
   .overlay a:hover,
   .overlay a:focus {
     color: #f1f1f1;
   }
   .overlay .closebtn {
     position: absolute;
     top: 20px;
     right: 45px;
     font-size: 60px;
   }
   @media screen and (max-height: 450px) {
     .overlay {
       overflow-y: auto;
     }
   
     .overlay a {
       font-size: 20px
     }
   
     .overlay .closebtn {
       font-size: 40px;
       top: 15px;
       right: 35px;
     }
   }