.logo{
    /* font-family: 'Lato', 'Helvetica Neue', sans-serif; */
   margin-top:30px;
   font-size: 2.3rem;
   line-height: 1;
   position: relative;
font-weight: 200;
padding-left: 15.5rem;




}
.item{
 
        align-items: flex-end;
        text-align: end;
        margin-right: 10px;
       margin-top: 5.5rem;
     
        font-family:'Open Sans', 'Helvetica Neue', sans-serif; 
        font-size: small;
        /* font-size: 90.5%; */
        color:black;
       margin-right: 1.6rem;
   
   
}


.pgh{
    /* font-family: 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 3rem;
    color: #666; 
    padding-left:0.8px;
}
.nav{
    align-items: flex-end;
    text-align: end;
    margin-right: 200px;
   margin-top: 5px;
   margin-bottom: 60px;
   padding-top: 10px;
}
.mb-10{
    color: #999;
}
.about{
    background-color: #f4f4f4;
}
.content{
    margin-top:30px;
    font-size: 2.3rem;
    line-height: 1;
    position: relative;
 font-weight: 200;
 padding-left: 15.5rem;}
.text-3xl{
    margin-top: 1.9px;
    line-height: 1;
    font-weight: 300;
    text-transform: normal;
    color:#000;
    margin-bottom: 60px;
    padding-top: 0.7rem;
}
.fir{
   margin-left: 30px;
    font-size: 1.4rem;
    line-height: 1;
   font-weight: 300;
   text-transform: normal;
   color: #000;
   margin-bottom: 0.5rem;
   
   /* font-family: Arial, Helvetica, sans-serif; */
}
.sec{
    margin-left: 30px;
    font-size: 1.4rem;
    line-height: 1;
   font-weight: 300;
   text-transform: normal;
   color: #000;
   margin-bottom: 0.5rem;
}
.thi{
    margin-left: 30px;
    font-size: 1.4rem;
    line-height: 1;
   font-weight: 300;
   text-transform: normal;
   color: #000;
   margin-bottom: 0.5rem;

}
.fou{
    margin-left: 50px;
    font-size: 1.4rem;
    line-height: 1;
   font-weight: 300;
   text-transform: normal;
   color: #000;
   margin-bottom: 0.5rem;
   
}
.fif{
    margin-left: 30px;
    font-size: 1.4rem;
    line-height: 1;
   font-weight: 300;
   text-transform: normal;
   color: #000;
   margin-bottom: 0.5rem;

}
.six{
    margin-left: 30px;
    font-size: 1.4rem;
    line-height: 1;
   font-weight: 300;
   text-transform: normal;
   color: #000;
   margin-bottom: 0.5rem;

}
.sev{
    margin-left: 20px;
    font-size: 1.4rem;
    line-height: 1;
   font-weight: 300;
   text-transform: normal;
   color: #000;
   margin-bottom: 0.5rem;

}
.eig{
    margin-left: 30px;
    font-size: 1.4rem;
    line-height: 1;
   font-weight: 300;
   text-transform: normal;
   color: #000;
   margin-bottom: 0.5rem;
}
.fi{
    margin-right: 30px;
   
    color: #999999;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
.se{
    margin-left: 30px;

    color: #999999;
    font-size: 0.9rem;
    margin-bottom: 1rem;  
}
.th{
    margin-left: 45px;
    color: #999999;
    font-size: 0.9rem;
    margin-bottom: 1rem;   
}
.fo{
    margin-left: 30px;
    color: #999999;
    font-size: 0.9rem;
    margin-bottom: 1rem; 
}
.fi{
    margin-left: 5px;
    
    color: #999999;
    font-size: 0.9rem;
    margin-bottom: 1rem; 
}
.si{
    margin-left: 30px;
    
    color: #999999;
    font-size: 0.9rem;
    margin-bottom: 1rem; 
}
.div{
   padding-bottom: 30px;
   padding-left: 30px;
   text-align: center;
   font-size: 2.5rem;
}