form {
    text-align: center;
    position:relative;
    top:70%;
    left:20%;
    width:200px;
    
  }
  /* .logo{
    /* font-family: 'Lato', 'Helvetica Neue', sans-serif; */
   /* margin-top:30px;
   font-size: 2.3rem;
   line-height: 1;
   position: relative;
font-weight: 200;
padding-left: 15.5rem;


} */ 
.lead{
  
  font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 3rem;
    line-height: 1.5;
    
}
.lead1{
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
  line-height: 1;
    font-weight: 300;
    color: #000;
}

.item{
 
  align-items: flex-end;
  text-align: end;
  margin-right: 10px;
 margin-top: 5.5rem;

  font-family:'Open Sans', 'Helvetica Neue', sans-serif; 
  font-size: small;
  /* font-size: 90.5%; */
  color:black;
 margin-right: 1.6rem;


}


.div{
  /* margin: 0 0 3rem 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 3rem;
    margin-left: 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    /* font-family: 'Open Sans', 'Helvetica Neue', sans-serif; */
    letter-spacing: 0;
    font-weight: 400;
    font-size: 0.4rem;
    line-height: 1.8;
    color:gray
}


.fn{
  
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1.2rem 2rem;
    padding-top: 0.9rem;
    padding-right: 2.0rem;
    padding-bottom: 1.6rem;
    padding-left: 3rem;
    font-size: 1.2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 0.6px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 0.6px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 0.6px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 0.6px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-transform: none;
    font-weight: 200px;
    letter-spacing: 0.1rem;
    color:black;
    line-height: normal !important;
    background: #f9f9f9;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    
   
}
.ln{
  margin-bottom: 2rem;
  padding: 1.2rem 2rem;
    padding-top: 0.9rem;
    padding-right: 2.0rem;
    padding-bottom: 1.6rem;
    padding-left: 3rem;
    font-size: 1.2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 0.6px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 0.6px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 0.6px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 0.6px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-transform: none;
    font-weight: 200px;
    letter-spacing: 0.1rem;
    color: #666;
    line-height: normal !important;
    background: #f9f9f9;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    
   
  
}
.em{
  margin-bottom: 2rem;
  padding: 1.2rem 2rem;
    padding-top: 0.9rem;
    padding-right: 2.0rem;
    padding-bottom: 1.6rem;
    padding-left: 3rem;
    font-size: 1.2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 0.6px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 0.6px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 0.6px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 0.6px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-transform: none;
    font-weight: 200px;
    letter-spacing: 0.1rem;
    color: #666;
    line-height: normal !important;
    background: #f9f9f9;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    
}
.we{
  margin-bottom: 2rem;
  padding: 1.2rem 2rem;
    padding-top: 0.9rem;
    padding-right: 2.0rem;
    padding-bottom: 1.6rem;
    padding-left: 3rem;
    font-size: 1.2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 0.6px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 0.6px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 0.6px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 0.6px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-transform: none;
    font-weight: 200px;
    letter-spacing: 0.1rem;
    color: #666;
    line-height: normal !important;
    background: #f9f9f9;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.msg{
  min-height: 10rem;
  background-color: #fff;
    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 1.2rem;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0.1rem;
    color: #666;
    line-height: normal !important;
    background: #f9f9f9;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}

.nav{
  align-items: flex-end;
  text-align: end;
  margin-right: 200px;
 margin-top: 20px;
}
.abc {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  padding: 1.1rem 2.0rem;
  padding-top: 1.0rem;
  padding-right: 2.0rem;
  padding-bottom: 0.6rem;
  padding-left: 2.0rem;
  font-size: 1.0rem;
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
